In [1]:
import pandas as pd

In [2]:
# Tabela 1.1

df1 = pd.read_csv('../datasets/tabele1_1.csv')
df1.columns = ['ID', 'BAIRO', 'TIPO', 'Nº de Quartos', 'Preço']
df1

    ID        BAIRO   TIPO Nº de Quartos  Preço
0    1        Barra  Apto.             2    165
1    2        Barra  Apto.             3    240
2    3        Barra  Cobt.           NaN    158
3    4        Barra   Sala           NaN    150
4    5     Botafogo  Apto.             2     59
5    6       Catete  Apto.             1     54
6    7       Centro   Sala           NaN     35
7    8   Copacabana  Apto.             2     83
8    9   Copacabana  Apto.             3    180
9   10   Copacabana  Apto.            4+     85
10  11     Flamengo  Apto.             1     58
11  12     Flamengo  Cobt.           NaN    120
12  13        Gávea  Apto.            4+    250
13  14      Ipanema  Apto.             3    130
14  15  Jacarepaguá  Apto.             3     90
15  16        Lagoa  Apto.             2    130
16  17  Laranjeiras  Apto.             2     68
17  18  Laranjeiras  Apto.            4+    360
18  19       Leblon  Apto.             3    300
19  20       Leblon  Apto.            4+    600
20  21     Maracanã  Apto.             3    137
21  22      Recreio  Cobt.           NaN    240
22  23  São Conrado   Casa            4+    650
23  24       Tijuca  Apto.             2     49
24  25       Tijuca  Apto.             2     95
25  26       Tijuca  Apto.            4+    170
26  27  Vila Isabel  Apto.             2     57

In [3]:
print('Variveis Qualitativas Nominal: %s e %s' % ('BAIRRO', 'TIPO'))

Variveis Qualitativas Nominal: BAIRRO e TIPO

In [4]:
print('Varivel Qualitativa Ordinal: %s' % '"Nº de Quartos"')

Varivel Qualitativa Ordinal: "Nº de Quartos"

In [5]:
print('Variavel Quantitativa Continua: %s' %'Preço')

Variavel Quantitativa Continua: Preço

In [1]:
import numpy as np
from Conversao import  frequencia_relativa as freq

In [2]:
#   1.4.1 Tabelas de Frequencia para Variaveis Qualitativas

#   Cada linha corresponde a um valor possível da variável
#   Usando contagem os valores que constam na coluna de frequência (Frequência Absoluta) são encontrados
#   Com os valores da Frequência Absoluta, calcula-se a Frequência Relativa, sobre a forma de percentuais.

In [4]:
freq1 = freq([5,20,20])
print(freq1, np.sum(freq1))

[11.11, 44.45, 44.44] 100.0

In [22]:
freq(5,45),freq(20,45)

('11.11', '44.44')

In [28]:
n1, n2 = 5/45*100, 20/45*100

In [29]:
n1

11.11111111111111

In [34]:
np.round(n2,2)

44.44