In [1]:
import pandas as pd

In [7]:
# Tabela 1.1

df1 = pd.read_csv('../datasets/tabele1_1.csv')
df1.columns = ['ID', 'BAIRO', 'TIPO', 'Nº de Quartos', 'Preço']
df1

    ID        BAIRO   TIPO Nº de Quartos  Preço
0    1        Barra  Apto.             2    165
1    2        Barra  Apto.             3    240
2    3        Barra  Cobt.           NaN    158
3    4        Barra   Sala           NaN    150
4    5     Botafogo  Apto.             2     59
5    6       Catete  Apto.             1     54
6    7       Centro   Sala           NaN     35
7    8   Copacabana  Apto.             2     83
8    9   Copacabana  Apto.             3    180
9   10   Copacabana  Apto.            4+     85
10  11     Flamengo  Apto.             1     58
11  12     Flamengo  Cobt.           NaN    120
12  13        Gávea  Apto.            4+    250
13  14      Ipanema  Apto.             3    130
14  15  Jacarepaguá  Apto.             3     90
15  16        Lagoa  Apto.             2    130
16  17  Laranjeiras  Apto.             2     68
17  18  Laranjeiras  Apto.            4+    360
18  19       Leblon  Apto.             3    300
19  20       Leblon  Apto.            4+    600
20  21     Maracanã  Apto.             3    137
21  22      Recreio  Cobt.           NaN    240
22  23  São Conrado   Casa            4+    650
23  24       Tijuca  Apto.             2     49
24  25       Tijuca  Apto.             2     95
25  26       Tijuca  Apto.            4+    170
26  27  Vila Isabel  Apto.             2     57

In [13]:
print('Variveis Qualitativas Nominal: %s e %s' % ('BAIRRO', 'TIPO'))

Variveis Qualitativas Nominal: BAIRRO e TIPO

In [17]:
print('Varivel Qualitativa Ordinal: %s' % '"Nº de Quartos"')

Varivel Qualitativa Ordinal: "Nº de Quartos"

In [18]:
print('Variavel Quantitativa Continua: %s' %'Preço')

Variavel Quantitativa Continua: Preço