In [1]:
import pandas as pd

In [2]:
# Tabela 1.1

df1 = pd.read_csv('../datasets/tabela1_1.csv')
df1.columns = ['ID', 'BAIRO', 'TIPO', 'Nº de Quartos', 'Preço']
df1

    ID        BAIRO   TIPO Nº de Quartos  Preço
0    1        Barra  Apto.             2    165
1    2        Barra  Apto.             3    240
2    3        Barra  Cobt.           NaN    158
3    4        Barra   Sala           NaN    150
4    5     Botafogo  Apto.             2     59
5    6       Catete  Apto.             1     54
6    7       Centro   Sala           NaN     35
7    8   Copacabana  Apto.             2     83
8    9   Copacabana  Apto.             3    180
9   10   Copacabana  Apto.            4+     85
10  11     Flamengo  Apto.             1     58
11  12     Flamengo  Cobt.           NaN    120
12  13        Gávea  Apto.            4+    250
13  14      Ipanema  Apto.             3    130
14  15  Jacarepaguá  Apto.             3     90
15  16        Lagoa  Apto.             2    130
16  17  Laranjeiras  Apto.             2     68
17  18  Laranjeiras  Apto.            4+    360
18  19       Leblon  Apto.             3    300
19  20       Leblon  Apto.            4+    600
20  21     Maracanã  Apto.             3    137
21  22      Recreio  Cobt.           NaN    240
22  23  São Conrado   Casa            4+    650
23  24       Tijuca  Apto.             2     49
24  25       Tijuca  Apto.             2     95
25  26       Tijuca  Apto.            4+    170
26  27  Vila Isabel  Apto.             2     57

In [3]:
print('Variveis Qualitativas Nominal: %s e %s' % ('BAIRRO', 'TIPO'))

Variveis Qualitativas Nominal: BAIRRO e TIPO

In [4]:
print('Varivel Qualitativa Ordinal: %s' % '"Nº de Quartos"')

Varivel Qualitativa Ordinal: "Nº de Quartos"

In [5]:
print('Variavel Quantitativa Continua: %s' % 'Preço')

Variavel Quantitativa Continua: Preço

In [6]:
import numpy as np
import decimal
#import Conversao as Conv
import Funcoes.Conversao as Conv

In [7]:
#   1.4.1 Tabelas de Frequencia para Variaveis Qualitativas

#   Cada linha corresponde a um valor possível da variável
#   Usando contagem os valores que constam na coluna de frequência (Frequência Absoluta) são encontrados
#   Com os valores da Frequência Absoluta, calcula-se a Frequência Relativa, sobre a forma de percentuais.

In [8]:
freq1 = Conv.frequencia_relativa([5, 20, 20])

11.110	44.450	44.440	100.000

In [9]:
freq2 = Conv.frequencia_relativa([16, 16, 12, 1])

35.550	35.560	26.670	2.220	100.000

In [10]:
freq3 = Conv.frequencia_relativa([1, 9, 5, 8, 1, 1, 1, 0, 1])

3.700	33.350	18.520	29.630	3.700	3.700	3.700	0.000	3.700	100.000

In [11]:
import numpy as np
import pandas as pd

# Tabela 1.2

df2 = pd.read_csv('../datasets/tabela1_2.csv')
#df1.columns = ['ID', 'BAIRO', 'TIPO', 'Nº de Quartos', 'Preço']
df2

,id,categ,idade,peso,altura,imc,classe_imc,cintura,quadril,rcq,classe_rcq
0,ID1,A,61,58.2,154.0,24.5,normal,87,109,0.80,MR
1,ID2,S,69,63.0,152.0,27.3,sobrepeso,89,104,0.86,GR
2,ID3,S,61,70.1,158.0,28.1,sobrepeso,106,123,0.86,GR
3,ID4,S,71,73.2,156.0,30.1,sobrepeso,110,122,0.90,GR
4,ID5,A,63,58.6,152.0,25.4,sobrepeso,99,121,0.82,MR
5,ID6,S,71,77.0,160.0,30.1,sobrepeso,125,132,0.95,GR
6,ID7,S,72,76.2,165.0,28.0,sobrepeso,115,125,0.92,GR
7,ID8,S,68,59.8,160.0,23.4,normal,85,103,0.83,MR
8,ID9,A,66,64.3,155.0,26.8,sobrepeso,100,120,0.83,MR
9,ID10,S,69,52.1,151.0,22.8,normal,74,83,0.89,GR
10,ID11,S,72,62.0,156.0,22.5,sobrepeso,90,111,0.81,MR
11,ID12,S,67,52.1,151.0,22.8,normal,76,90,0.84,MR
12,ID13,S,63,58.0,157.0,23.5,normal,80,102,0.78,MR
13,ID14,S,66,55.0,154.0,23.2,normal,78,96,0.81,MR
14,ID15,S,63,50.1,157.0,20.3,normal,72,81,0.89,GR
15,ID16,A,63,57.9,160.0,22.6,normal,78,90,0.87,GR
16,ID17,A,60,58.2,156.0,23.9,normal,80,108,0.74,PR
17,ID18,A,67,56.2,152.0,24.3,normal,76,95,0.80,MR
18,ID19,A,71,68.6,159.0,27.1,sobrepeso,106,117,0.91,GR
19,ID20,A,63,51.0,150.0,22.7,normal,71,83,0.86,GR
20,ID21,A,60,53.4,150.0,23.7,normal,76,89,0.85,MR
21,ID22,A,69,61.3,154.0,25.8,sobrepeso,89,106,0.84,MR
22,ID23,A,64,53.2,158.0,21.3,normal,73,86,0.85,MR
23,ID24,A,63,54.6,150.0,24.3,normal,80,108,0.74,PR
24,ID25,A,66,56.2,152.0,24.3,normal,84,110,0.76,PR
25,ID26,A,71,60.3,156.0,24.8,normal,82,99,0.83,MR
26,ID27,A,64,54.7,158.0,21.9,normal,76,95,0.80,MR
27,ID28,A,70,60.0,160.0,23.4,normal,81,104,0.78,MR
28,ID29,A,63,51.3,154.0,21.6,normal,76,89,0.85,MR
29,ID30,A,66,50.0,153.0,21.4,normal,76,87,0.87,GR
30,ID31,A,64,49.8,150.0,22.1,normal,72,106,0.68,PR
31,ID32,A,69,55.2,156.0,22.7,normal,81,98,0.83,MR
32,ID33,A,69,58.2,160.0,22.7,normal,78,90,0.87,GR
33,ID34,S,64,51.6,156.5,21.1,normal,76,87,0.87,GR
34,ID35,S,63,62.7,153.0,26.8,sobrepeso,90,103,0.87,GR
35,ID36,S,72,75.6,165.0,27.8,sobrepeso,98,110,0.89,GR
36,ID37,S,73,65.2,154.0,27.5,sobrepeso,96,110,0.87,GR
37,ID38,S,68,61.8,152.0,26.7,sobrepeso,82,93,0.88,GR
38,ID39,S,71,64.3,150.0,28.6,sobrepeso,78,89,0.88,GR
39,ID40,S,72,59.2,153.0,25.3,sobrepeso,73,82,0.89,GR
40,ID41,A,69,63.4,163.0,23.9,normal,93,120,0.78,MR
41,ID42,S,68,66.0,160.0,25.8,sobrepeso,90,117,0.77,PR
42,ID43,S,68,61.7,158.0,24.7,normal,90,116,0.78,MR
43,ID44,S,73,68.2,155.0,28.4,sobrepeso,107,120,0.89,GR
44,ID45,S,79,60.1,160.0,23.5,normal,92,110,0.84,MR

In [12]:
import Funcoes.Conversao as Conv

In [13]:
# Media para a variavel idade
Conv.media(df2['idade'])

A média é 67.200

In [14]:
# Mediana para variavel idade
Conv.mediana(df2['idade'])

A Mediana é 68.000

In [15]:
Conv.moda(df2['idade'])

A moda é 63.000

In [16]:
# Variavel Cintura
cintura_stats = Conv.media(df2['cintura']), Conv.mediana(df2['cintura']), Conv.moda(df2['cintura'])
print(cintura_stats)

A média é 86.356
A Mediana é 82.000
A moda é 76.000
(None, None, None)

In [17]:
# Variavel Quadril
quadril_stats = Conv.media(df2['quadril']), Conv.mediana(df2['quadril']), Conv.moda(df2['quadril'])
print(quadril_stats)

A média é 103.089
A Mediana é 104.000
A moda é 110.000
(None, None, None)

In [18]:
# Variavel Quadril
rcq_stats = Conv.media(df2['rcq']), Conv.mediana(df2['rcq']), Conv.moda(df2['rcq'])
print(rcq_stats)

A média é 0.838
A Mediana é 0.850
A moda é 0.870
(None, None, None)

In [30]:
Conv.variancia(df2['idade']), Conv.desvio_padrao(df2['idade']), Conv.coeficinete_variacao(df2['idade'])

A Variancia é 17.482
O Desvio Padrão é 4.181
O CV é 0.062

(None, None, None)

In [20]:
Conv.variancia([4, 4, 4, 10, 16, 16, 16]), Conv.variancia([4, 6, 8, 10, 12, 14, 16]), Conv.variancia(
    [7, 8, 9, 10, 11, 12, 13]), Conv.variancia(7 * [10])

A Variancia é 36.000
A Variancia é 18.667
A Variancia é 4.667
A Variancia é 0.000

(None, None, None, None)

In [21]:
#   Desvivo Padrão
#    Raiz quadrada da Variância
def desvio_padrao(dados):
    soma = 0
    n = len(dados)
    media = np.sum(dados) / n
    for i in dados:
        soma += (i - media) ** 2
    var = soma / (n - 1)
    desv_pad = var ** .5
    print(f'O Desvio Padrão é {desv_pad:.3f}')

In [22]:
desvio_padrao([4, 4, 4, 10, 16, 16, 16]), desvio_padrao([4, 6, 8, 10, 12, 14, 16]), desvio_padrao(
    [7, 8, 9, 10, 11, 12, 13]), desvio_padrao(7 * [10])

O Desvio Padrão é 6.000
O Desvio Padrão é 4.320
O Desvio Padrão é 2.160
O Desvio Padrão é 0.000

(None, None, None, None)

In [23]:
# Coeficiente de Variação
#    (Desvio Padrão) / Media
def coeficinete_variacao(dados):
    soma = 0
    n = len(dados)
    media = np.sum(dados) / n
    for i in dados:
        soma += (i - media) ** 2
    var = soma / (n - 1)
    desv_pad = var ** .5
    cv = desv_pad / media
    print(f'O CV é {cv:.3f}')

In [24]:
coeficinete_variacao([4, 4, 4, 10, 16, 16, 16]), coeficinete_variacao([4, 6, 8, 10, 12, 14, 16]), coeficinete_variacao(
    [7, 8, 9, 10, 11, 12, 13]), coeficinete_variacao(7 * [10])

O CV é 0.600
O CV é 0.432
O CV é 0.216
O CV é 0.000

(None, None, None, None)

In [25]:
coeficinete_variacao([52.3,52.5,53,53.5,54]), coeficinete_variacao([2.3,2.5,3,3.5,4])

O CV é 0.013
O CV é 0.229

(None, None)

In [28]:
dados_mae = [52.3,52.5,53,53.5,54]
Conv.media(dados_mae), Conv.variancia(dados_mae), desvio_padrao(dados_mae), coeficinete_variacao(dados_mae)

A média é 53.060
A Variancia é 0.493
O Desvio Padrão é 0.702
O CV é 0.013

(None, None, None, None)

In [29]:
dados_bebe = [2.3,2.5,3,3.5,4]
Conv.media(dados_bebe), Conv.variancia(dados_bebe), desvio_padrao(dados_bebe), coeficinete_variacao(dados_bebe)

A média é 3.060
A Variancia é 0.493
O Desvio Padrão é 0.702
O CV é 0.229

(None, None, None, None)

In [33]:
( 45 + 1)*.25, ( 45 + 1)*.75

(11.5, 34.5)